---
layout: default
---
      <article class="site-content">
        <header>
          <h1>{{ page.title }}</h1>
          <time pubdate datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y/%m/%d' }}</time>
          <ul class="tags">{% for tag in page.tags %}
            <li><a href="/tags.html#{{ tag }}">{{ tag }}</a></li>{% endfor %}
          </ul>
        </header>
        <div class="content">
{{ content }}
        </div>
        <footer>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              var disqus_shortname = '{{ site.disqus_short_name }}'
                , disqus_identifier = '{{ page.id }}'
                , disqus_title = '{{ page.title | replace: "'", "\\'" }}'
                , disqus_url = '{{ site.url }}{{ page.url }}'

              !(function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })()
          </script>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"102"},"image":{"viewList":["tsina","weixin","qzone","tqq","renren"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","weixin","qzone","tqq","renren"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </footer>
      </article>
